i {
  display: block;
}

.icon-instagram {
  background: url('../img/icon_instagram.svg') center/cover no-repeat;
  width: 21px; height: 21px;
}

.icon-instagram-yellow {
  background: url('../img/icon_instagram_yellow.svg') center/cover no-repeat;
  width: 26px; height: 26px;
}

.icon-facebook {
  background: url('../img/icon_facebook.svg') center/cover no-repeat;
  width: 10px; height: 21px;
}

.icon-facebook-yellow {
  background: url('../img/icon_facebook_yellow.svg') center/cover no-repeat;
  width: 13px; height: 29px;
}

.icon-soundcloud {
  background: url('../img/icon_soundcloud.svg') center/cover no-repeat;
  width: 49px; height: 21px;
}

.icon-home {
  background: url('../img/icon_home.png') center/cover no-repeat;
  width: 23px; height: 21px;
}


/* Home Summary */

.icon-calendar {
  background: url('../img/icon-calendar.png') center/cover no-repeat;
  width: 59px; height: 59px;
}

.icon-music {
  background: url('../img/icon-music.png') center/cover no-repeat;
  width: 55px; height: 59px;
}

.icon-kisskiss {
  background: url('../img/icon-kisskiss.png') center/cover no-repeat;
  width: 72px; height: 53px;
}

.icon-sifflet {
  background: url('../img/icon-sifflet.png') center/cover no-repeat;
  width: 70px; height: 43px;
}