<aside class="home-menu">
  <nav>
    <ul>
      <li class="selected"><a href="/#/#"><span>Accueil</span><i class="icon-home"></i></a></li>
      <li><a href="/#/#presentation"><span>Présentation</span><i class="icon-home"></i></a></li>
      <li><a href="/#/#candidature"><span>Candidature</span><i class="icon-home"></i></a></li>
      <li><a href="/#/#votes"><span>Votes</span><i class="icon-home"></i></a></li>
      <li><a href="/#/#results"><span>Résultats</span><i class="icon-home"></i></a></li>
    </ul>
  </nav>
</aside>

<section class="home-splash">
  <div class="home-splash__container home__center-container">
    <div class="home-splash__presents">
      <div class="sound-bars">
        <span></span><span></span><span></span><span></span>
      </div>
      <span class="home-splash__tagline">Le DAUFINE ARTS FESTIVAL présente son</span>
    </div>
    <div class="home-splash__bottom-container">
      <div class="home-splash__left">
        <h2>Tremplin Musical
          <span>Pour les jeunes talents</span></h2>

        <ul class="home-splash__steps">
          <li class="isDone">
            <a href="#"><span>01</span>
            Candidatures</a>
          </li>
          <li>
            <a href="#"><span>02</span>
            Votes du Public</a>
          </li>
          <li>
            <a href="#"><span>03</span>
            Événement</a>
          </li>
        </ul>
      </div>
      <div class="home-splash__right">
        <span class="home-splash__year">2016</span>
        <a href="#/" class="home-splash__LeGrosBoutonPlay"><i class="icon-play"></i></a>
      </div>
    </div>
  </div>
</section>

<section class="home-presentation" id="presentation">
  <div class="home-presentation__background home__background" parallax-scrolling></div>
  <div class="home-presentation__container home__left-container">
    <h3 class="home__sideTitle left">Présentation</h3>
    <div class="inner">
      <div class="home-presentation__metrics metrics">
        <span class="metrics__box">
          <b ng-bind="presentationLikeMentions"></b>
          Mentions
          J'aimes
        </span>

        <span class="metrics__box">
          <b ng-bind="presentationInstagramFollowers"></b>
          Abonnés
          instagram
        </span>

        <span class="metrics__box">
          <b ng-bind="presentationPartners"></b>
          Partenaires
        </span>
      </div>
      <div class="home-presentation__description">
        <span class="home__pageNumber">00</span>
        <div class="description__right">
          <div class="description__inner">
            <h2>Faites décoller votre carrière.</h2>
            <p>Nous faisons émerger durablement les talents prometteurs de la musique.

              À travers deux prix (prix du public et prix du jury) nous mettons en place un dispositif d’accompagnement favorisant la création, la diffusion ainsi que la promotion de l’élu.

              Le DO FINE MUSIC s’inscrit dans le cadre des Dauphine Arts Days qui se dérouleront du 21 au 25 mars 2016 à l’université Paris-Dauphine. </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="home-summary" in-viewport="isInViewport">
  <div class="home-summary__background home__background" parallax-scrolling></div>
  <div class="home-summary__container home__center-container">
    <div class="inner">
      <div class="home-summary__top-container">
        <h2>Gagnez des prix.</h2>
        <p>Plusieurs récompenses seront attribuées
            aux différents finalistes du festival.</p>
      </div>
      <div class="home-summary__bottom-container">
        <div class="home-summary__left">
          <ul class="home-summary__rewards" ng-mouseenter="rewardsHovered = false" ng-mouseleave="rewardsHovered = true">
            <li ng-class="{'isShownByDefault' : rewardsHovered}">
              <span class="number">01</span>
              <i class="icon-calendar"></i>
              <p>Une date de concert pour
                    chaque lauréat au minimum</p>
            </li>
            <li>
              <span class="number">02</span>
              <i class="icon-kisskiss"></i>
              <p>Lancement d'une campagne de
                    crowdfunding sur KissKissBankBank</p>
            </li>
            <li>
              <span class="number">03</span>
              <i class="icon-music"></i>
              <p>Parrainage par L'Atelier de Cédric
                    et 30 heures de répétition offertes
                    au Studio Bleu</p>
            </li>
            <li>
              <span class="number">04</span>
              <i class="icon-sifflet"></i>
              <p>Coaching de la part d'un directeur
                    artistique, d'un producteur et d'un
                    attaché de presse</p>
            </li>
          </ul>
        </div>
        <div class="home-summary__right">
          <p>
            IMAGINE.
            CREATE.
            MAKE PEOPLE
            <span>DREAM.</span>
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="home-submits" id="candidature">
  <div class="home-submits__background home__background" parallax-scrolling></div>
  <div class="home-submits__container home__right-container">
    <span class="home__pageNumber left">01</span>
    <div class="inner">
      <div class="home-submits__row">
        <div class="home-submits__date">
          <span>14.12</span>
          <span>14.02</span>
        </div>
        <div class="home-submits__content">
          <h2>Dévoilez votre talent</h2>
          <p>Tout musicien peut nous présenter son oeuvre lors de l’appel aux candidatures, du 14 décembre 2015 au 14 février 2016.

            Chaque candidat doit présenter au minimum 3 titres, pouvant être de tout genre : chantées, mixées, classiques ...
          </p>
        </div>
      </div>
      <div class="home-submits__row">
        <div class="home-submits__date">
          <span>15.02</span>
          <span>28.02</span>
        </div>
        <div class="home-submits__content">
          <p>La délibération du Jury professionnel aura lieu du 15 au 28 février 2016.

            L’annonce des 4 finalistes a lieu le 1er mars 2015.
          </p>
        </div>
      </div>
      <div class="home-submits__row home__cta-block">
        <a class="btn disabled" disabled>Candidater</a>
        <span>Les candidatures se sont terminées le 14 février.</span>
      </div>
    </div>
    <h3 class="home__sideTitle right">Candidatures</h3>
  </div>
</section>

<section class="home-vote" id="votes">
  <div class="home-vote__background home__background" parallax-scrolling></div>
  <div class="home-vote__container home__left-container">
    <h3 class="home__sideTitle left">Votes</h3>
    <div class="inner">
      <div class="home-vote__top-container">
        <h2>Exprimez une différence.</h2>
        <p>Les votes sont désormais ouverts.
          Après que le jury ait désigné ses 4 finalistes, c’est au tour du public de décider, cette fois, la carrière qui mérite d’être décollée.</p>
      </div>

      <div class="home-vote__bottom-container">
        <div class="home-vote__date">
          <span class="home-vote__month">Mars</span>
          <div class="home-vote__day">
            <span>07</span>
            <span>25</span>
          </div>
        </div>
        <h2>Choisissez votre
          futur talent.</h2>
        <div class="home__cta-block">
          <a href="#/votes" class="btn">Votez</a>
          <span>Décidez du talent qui mérite d’être dans vos playplists.</span>
        </div>
      </div>
    </div>
    <span class="home__pageNumber">02</span>
  </div>
</section>

<section class="home-event" id="evenement">
  <div class="home-event__background home__background" parallax-scrolling></div>
  <div class="home-event__container home__right-container">
    <span class="home__pageNumber left">03</span>
    <div class="inner">
      <div class="home-event__head-title">
        <h2>Guest Principal <span class="brokenBack-logo">Broken Back</span></h2>
      </div>
      <div class="home-event__content">
        <h2>Célébrez lors d’un concert.</h2>
        <p>Le 25 février 2016, les 4 finalistes se produiront sur scène aux côtés de l’artiste Broken Back. Deux prix seront distribués : le prix du public et le prix du Jury. Concert inoubliable, sponsorisé par nos partenaires, où règneront talent et bonne humeur.</p>
      </div>
      <div class="home__cta-block">
        <a href="https://www.facebook.com/events/919757994811929/" target="_blank" class="btn">Voir l'event Facebook</a>
        <a href="http://www.digitick.com/do-fine-music-concert-universite-paris-dauphine-25-mars-2016-css4-digitick-pg101-ri3768679.html" class="btn" target="_blank">Acheter mes billets</a>
        <span>3€ pour les étudiants Dauphinois,
              7€ pour toute personne extérieure.</span>
      </div>
    </div>
    <h3 class="home__sideTitle right">Evenement<span>25.03</span></h3>
  </div>
</section>

<section class="home-contact" id="contact">
  <div class="home-contact__background home__background" parallax-scrolling></div>
  <div class="home-contact__container home__right-container">
    <h3 class="home__sideTitle left">Contact</h3>
    <div class="inner">
      <div class="home-contact__top-container">
        <p> Une question ? Une proposition ?
          N’hésitez pas à nous contacter !</p>
      </div>
      <div class="home-contact__form">
        <h3>Say Hello</h3>
        <contact-form></contact-form>
      </div>
    </div>
  </div>
</section>

<section class="home-partners" id="partenaires">
  <div class="home-partners__container home__center-container">
    <ul class="home-partners__logo-container">
      <li ng-repeat="image in imageLinkPartners"><img ng-src="{{image.url}}" alt="{{image.alt}}"></li>
    </ul>
    <p class="home-partners__mailLine">Vous souhaitez devenir partenaire ? <a href="mailto:dofinemusic@gmail.com">Envoyez-nous un mail !</a></p>
  </div>
</section>

<footer class="home-footer">
  <div class="home-footer__container home__center-container">
    <nav class="home-footer__navContainer">
      <b>Navigation</b>
      <ul>
        <li><a href="#" target="_self">Accueil</a></li>
        <li><a href="#presentation" target="_self">Présentation</a></li>
        <li><a href="#candidature" target="_self">Candidature</a></li>
        <li><a href="#votes" target="_self">Votes</a></li>
        <li><a href="#evenement" target="_self">Evenement</a></li>
        <li><a href="#contact" target="_self">Contact</a></li>
      </ul>
    </nav>
    <nav class="home-footer__votesContainer">
      <b>Votes</b>
      <ul>
        <li><a href="#/votes">Liste des Candidats</a></li>
        <li><a href="#/votes/finaliste/disorder-kid">Disorder Kid</a></li>
        <li><a href="#/votes/finaliste/amoure">Amoure</a></li>
        <li><a href="#/votes/finaliste/blow">Blow</a></li>
        <li><a href="#/votes/finaliste/scott-von-teufel">Scott Von Teufel</a></li>
      </ul>
    </nav>
    <div class="home-footer__location">
      <b>Location</b>
      <p>Université Paris-Dauphine
      Place du Maréchal de Lattre de Tassigny
      75 016 Paris
      <a href="mailto:dofinemusic@gmail.com">dofinemusic@gmail.com</a></p>
    </div>
    <div class="home-footer__facebookLike">

    </div>
  </div>
  <div class="home-footer__bottom-footer">
    <p><!--
      -->Mentions légales | © 2016
      Site internet réalisé par <a href="https://www.behance.net/FloraMichalon" target="_blank">F.Michalon</a> & <a href="http://zachary.pm" target="_blank">Zachary E. Dahan</a>
    </p>
  </div>
</footer>